

.input-wrapper {
  display: flex;
  flex-flow: row nowrap;
  box-shadow: inset 0px 1px 2px #222;
  background-color: #39537b;
  border-radius: 4px;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
}

.input-field {
  flex: 1;
  border: 0;
  font-size: 1.1em;
  font-weight: 600;
}

.input-wrapper:hover {
  box-shadow: inset 1px 2px 2px #222;
  transition: box-shadow 0.1s ease;
}

input:focus, button:focus {
  outline:none;
}

.input-field {
  flex: 1;
  border: 0;
  font-size: 1.1em;
  font-weight: 600;
}

.input-field,
.input-addon {
  padding: 0.5em 0.75em;
  color: #89DDFF;
  letter-spacing: 1px;
}

.input-field:not(first-child) {
    border-left: 1px solid rgba(34,34,34,0.1);
}
.input-field:not(last-child) {
    border-right: 1px solid rgba(34,34,34,0.1);
}

.input-addon {
  font-variant: small-caps;
}

input {
  background-color: transparent;
}

button {
  background-color: #89DDFF;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px #222;
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 0.6px;
  color: #23395B;
  padding: 0.5em 0.8em;
  margin-top: 0.6em;
  margin-bottom: 1em;
}

button:hover {
  box-shadow: 3px 6px 6px #222;
  transition: box-shadow 0.05s ease;
  cursor: pointer;
}

#balance{
    margin-top: 4px;
}
#balance-1{
    display: none;
}

.label {
  font-variant: small-caps;
  font-size: 1.1em;
  letter-spacing: 1px;
}

.output-value {
  color: #89DDFF;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 2em;
  margin-bottom: 0.6em;
}

canvas {
  width: 100%;
  height: auto;
  background-color: #F7F7F7;
}

.container {
  margin: auto;
  width: 80%;
  max-width: 620px;
}

.row {
  display: flex;
  flex-flow: row nowrap;
}

.col-main {
  flex: 1;
}

.col:first-child {
  padding-right: 3em;
}

h2 {
  color: #40FD65;
  font-size: 1.6em;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 1em;
  padding-bottom: 0.2em;
}

h1 {
  color: #40FD65;
  font-size: 3.6em;
  font-variant: small-caps;
  letter-spacing: 1px;
  margin: 0;
  padding-top: 0.4em;
}

p {
  margin: 0;
}

footer {
  height: 2em;
}

canvas {
  background-color: #fff;
  border-radius: 4px 4px 0 0;
}

.legend {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  border-top: 1px solid #ccc;
  padding: 8px 8px 10px 8px;
  position: relative;
  top: -5px;
}

.legend-item {
  margin-right: 16px;
}
.legend-item > div {
  display: inline-block;
}
.legend-swatch {
  height: 12px;
  width: 12px;
  border-radius: 4px;
  position: relative;
  top: 2px;
}

.legend-label {
  font-size: 0.7em;
  color: #23395B;
/*  font-variant: small-caps;
  letter-spacing: 0.03em;*/
}

#total-interest-payments-swatch {
  background-color: #72AAD0;
}

#total-equity-swatch {
  background-color: #40FD65;
}

#loan-balance-swatch {
  background-color: #444;
}

@media (max-width: 565px) {
  .row {
    flex-flow: column;
  }
  .col:first-child {
    padding-right: 0;
  }
  h1 {
    font-size: 2.4em;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #23395B;
  font-family: 'Open Sans', sans-serif;
  color: #72AAD0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}